{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel = "stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}" />
</head>
<body>
<h1>添加用户 </h1>
<input type="text" class="btn btn-primary" value="新建"/>
<img src = "{% static 'image/c85d7e0d43087cc1d438f09a5d4aef1d210ebf18.jpg'%}" alt=""/>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>
</html>